# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# list of global variables
MESSAGES_CSV = 'data/disaster_messages.csv'
CATEGORIES_CSV = 'data/disaster_categories.csv'
SQLITE_DB = 'data/messages.db'
SQLITE_TABLE = 'messages'

In [3]:
# Pandas display options
pd.options.display.max_rows = 4000
pd.options.display.max_columns = 100
pd.options.display.max_seq_items = 2000
pd.options.display.max_colwidth = 2000

In [4]:
# load messages dataset
messages = pd.read_csv(MESSAGES_CSV)
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that could pass over Haiti,Un front froid se retrouve sur Cuba ce matin. Il pourrait traverser Haiti demain. Des averses de pluie isolee sont encore prevues sur notre region ce soi,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ak timoun yo. Mesi se john jean depi Monben kwochi.",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospital St. Croix functioning. Needs supplies desperately.,UN reports Leogane 80-90 destroyed. Only Hospital St. Croix functioning. Needs supplies desperately.,direct
4,12,"says: west side of Haiti, rest of the country today and tonight",facade ouest d Haiti et le reste du pays aujourd hui et ce soir,direct

In [5]:
messages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26248 entries, 0 to 26247
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        26248 non-null  int64
 1   message   26248 non-null  object
 2   original  10184 non-null  object
 3   genre     26248 non-null  object
dtypes: int64(1), object(3)
memory usage: 820.4+ KB

In [6]:
# load categories dataset
categories = pd.read_csv(CATEGORIES_CSV)
categories.head()

,id,categories
0,2,related-1;request-0;offer-0;aid_related-0;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;refugees-0;death-0;other_aid-0;infrastructure_related-0;transport-0;buildings-0;electricity-0;tools-0;hospitals-0;shops-0;aid_centers-0;other_infrastructure-0;weather_related-0;floods-0;storm-0;fire-0;earthquake-0;cold-0;other_weather-0;direct_report-0
1,7,related-1;request-0;offer-0;aid_related-1;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;refugees-0;death-0;other_aid-1;infrastructure_related-0;transport-0;buildings-0;electricity-0;tools-0;hospitals-0;shops-0;aid_centers-0;other_infrastructure-0;weather_related-1;floods-0;storm-1;fire-0;earthquake-0;cold-0;other_weather-0;direct_report-0
2,8,related-1;request-0;offer-0;aid_related-0;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;refugees-0;death-0;other_aid-0;infrastructure_related-0;transport-0;buildings-0;electricity-0;tools-0;hospitals-0;shops-0;aid_centers-0;other_infrastructure-0;weather_related-0;floods-0;storm-0;fire-0;earthquake-0;cold-0;other_weather-0;direct_report-0
3,9,related-1;request-1;offer-0;aid_related-1;medical_help-0;medical_products-1;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;refugees-0;death-0;other_aid-1;infrastructure_related-1;transport-0;buildings-1;electricity-0;tools-0;hospitals-1;shops-0;aid_centers-0;other_infrastructure-0;weather_related-0;floods-0;storm-0;fire-0;earthquake-0;cold-0;other_weather-0;direct_report-0
4,12,related-1;request-0;offer-0;aid_related-0;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;refugees-0;death-0;other_aid-0;infrastructure_related-0;transport-0;buildings-0;electricity-0;tools-0;hospitals-0;shops-0;aid_centers-0;other_infrastructure-0;weather_related-0;floods-0;storm-0;fire-0;earthquake-0;cold-0;other_weather-0;direct_report-0

In [7]:
categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26248 entries, 0 to 26247
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          26248 non-null  int64
 1   categories  26248 non-null  object
dtypes: int64(1), object(1)
memory usage: 410.2+ KB

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [8]:
# merge datasets
df = pd.merge(messages, categories, on='id')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that could pass over Haiti,Un front froid se retrouve sur Cuba ce matin. Il pourrait traverser Haiti demain. Des averses de pluie isolee sont encore prevues sur notre region ce soi,direct,related-1;request-0;offer-0;aid_related-0;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;refugees-0;death-0;other_aid-0;infrastructure_related-0;transport-0;buildings-0;electricity-0;tools-0;hospitals-0;shops-0;aid_centers-0;other_infrastructure-0;weather_related-0;floods-0;storm-0;fire-0;earthquake-0;cold-0;other_weather-0;direct_report-0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;refugees-0;death-0;other_aid-1;infrastructure_related-0;transport-0;buildings-0;electricity-0;tools-0;hospitals-0;shops-0;aid_centers-0;other_infrastructure-0;weather_related-1;floods-0;storm-1;fire-0;earthquake-0;cold-0;other_weather-0;direct_report-0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ak timoun yo. Mesi se john jean depi Monben kwochi.",direct,related-1;request-0;offer-0;aid_related-0;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;refugees-0;death-0;other_aid-0;infrastructure_related-0;transport-0;buildings-0;electricity-0;tools-0;hospitals-0;shops-0;aid_centers-0;other_infrastructure-0;weather_related-0;floods-0;storm-0;fire-0;earthquake-0;cold-0;other_weather-0;direct_report-0
3,9,UN reports Leogane 80-90 destroyed. Only Hospital St. Croix functioning. Needs supplies desperately.,UN reports Leogane 80-90 destroyed. Only Hospital St. Croix functioning. Needs supplies desperately.,direct,related-1;request-1;offer-0;aid_related-1;medical_help-0;medical_products-1;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;refugees-0;death-0;other_aid-1;infrastructure_related-1;transport-0;buildings-1;electricity-0;tools-0;hospitals-1;shops-0;aid_centers-0;other_infrastructure-0;weather_related-0;floods-0;storm-0;fire-0;earthquake-0;cold-0;other_weather-0;direct_report-0
4,12,"says: west side of Haiti, rest of the country today and tonight",facade ouest d Haiti et le reste du pays aujourd hui et ce soir,direct,related-1;request-0;offer-0;aid_related-0;medical_help-0;medical_products-0;search_and_rescue-0;security-0;military-0;child_alone-0;water-0;food-0;shelter-0;clothing-0;money-0;missing_people-0;refugees-0;death-0;other_aid-0;infrastructure_related-0;transport-0;buildings-0;electricity-0;tools-0;hospitals-0;shops-0;aid_centers-0;other_infrastructure-0;weather_related-0;floods-0;storm-0;fire-0;earthquake-0;cold-0;other_weather-0;direct_report-0

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [9]:
# create a dataframe of the 36 individual category columns
categories = categories['categories'].str.split(pat=';', expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,water-0,food-0,shelter-0,clothing-0,money-0,missing_people-0,refugees-0,death-0,other_aid-0,infrastructure_related-0,transport-0,buildings-0,electricity-0,tools-0,hospitals-0,shops-0,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,water-0,food-0,shelter-0,clothing-0,money-0,missing_people-0,refugees-0,death-0,other_aid-1,infrastructure_related-0,transport-0,buildings-0,electricity-0,tools-0,hospitals-0,shops-0,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,water-0,food-0,shelter-0,clothing-0,money-0,missing_people-0,refugees-0,death-0,other_aid-0,infrastructure_related-0,transport-0,buildings-0,electricity-0,tools-0,hospitals-0,shops-0,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,water-0,food-0,shelter-0,clothing-0,money-0,missing_people-0,refugees-0,death-0,other_aid-1,infrastructure_related-1,transport-0,buildings-1,electricity-0,tools-0,hospitals-1,shops-0,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,water-0,food-0,shelter-0,clothing-0,money-0,missing_people-0,refugees-0,death-0,other_aid-0,infrastructure_related-0,transport-0,buildings-0,electricity-0,tools-0,hospitals-0,shops-0,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [10]:
# select the first row of the categories dataframe
row = categories.iloc[0, :]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.apply(lambda x: x[:-2])
print(category_colnames)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [11]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,water,food,shelter,clothing,money,missing_people,refugees,death,other_aid,infrastructure_related,transport,buildings,electricity,tools,hospitals,shops,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,water-0,food-0,shelter-0,clothing-0,money-0,missing_people-0,refugees-0,death-0,other_aid-0,infrastructure_related-0,transport-0,buildings-0,electricity-0,tools-0,hospitals-0,shops-0,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,water-0,food-0,shelter-0,clothing-0,money-0,missing_people-0,refugees-0,death-0,other_aid-1,infrastructure_related-0,transport-0,buildings-0,electricity-0,tools-0,hospitals-0,shops-0,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,water-0,food-0,shelter-0,clothing-0,money-0,missing_people-0,refugees-0,death-0,other_aid-0,infrastructure_related-0,transport-0,buildings-0,electricity-0,tools-0,hospitals-0,shops-0,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,water-0,food-0,shelter-0,clothing-0,money-0,missing_people-0,refugees-0,death-0,other_aid-1,infrastructure_related-1,transport-0,buildings-1,electricity-0,tools-0,hospitals-1,shops-0,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,water-0,food-0,shelter-0,clothing-0,money-0,missing_people-0,refugees-0,death-0,other_aid-0,infrastructure_related-0,transport-0,buildings-0,electricity-0,tools-0,hospitals-0,shops-0,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [12]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].str[-1]
    
    # convert column from string to numeric
    categories[column] = categories[column].apply(lambda x: 0 if x == '0' else 1)
    categories[column] = categories[column].astype('int8')
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,water,food,shelter,clothing,money,missing_people,refugees,death,other_aid,infrastructure_related,transport,buildings,electricity,tools,hospitals,shops,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [13]:
# drop the original categories column from `df`
df = df.drop(columns=['categories'])

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that could pass over Haiti,Un front froid se retrouve sur Cuba ce matin. Il pourrait traverser Haiti demain. Des averses de pluie isolee sont encore prevues sur notre region ce soi,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ak timoun yo. Mesi se john jean depi Monben kwochi.",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospital St. Croix functioning. Needs supplies desperately.,UN reports Leogane 80-90 destroyed. Only Hospital St. Croix functioning. Needs supplies desperately.,direct
4,12,"says: west side of Haiti, rest of the country today and tonight",facade ouest d Haiti et le reste du pays aujourd hui et ce soir,direct

In [14]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,water,food,shelter,clothing,money,missing_people,refugees,death,other_aid,infrastructure_related,transport,buildings,electricity,tools,hospitals,shops,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that could pass over Haiti,Un front froid se retrouve sur Cuba ce matin. Il pourrait traverser Haiti demain. Des averses de pluie isolee sont encore prevues sur notre region ce soi,direct,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ak timoun yo. Mesi se john jean depi Monben kwochi.",direct,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9,UN reports Leogane 80-90 destroyed. Only Hospital St. Croix functioning. Needs supplies desperately.,UN reports Leogane 80-90 destroyed. Only Hospital St. Croix functioning. Needs supplies desperately.,direct,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12,"says: west side of Haiti, rest of the country today and tonight",facade ouest d Haiti et le reste du pays aujourd hui et ce soir,direct,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26386 entries, 0 to 26385
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      26386 non-null  int64
 1   message                 26386 non-null  object
 2   original                10246 non-null  object
 3   genre                   26386 non-null  object
 4   related                 26248 non-null  float64
 5   request                 26248 non-null  float64
 6   offer                   26248 non-null  float64
 7   aid_related             26248 non-null  float64
 8   medical_help            26248 non-null  float64
 9   medical_products        26248 non-null  float64
 10  search_and_rescue       26248 non-null  float64
 11  security                26248 non-null  float64
 12  military                26248 non-null  float64
 13  child_alone             26248 non-null  float64
 14  water                   26248 non-null  float64
 15  food                    26248 non-null  float64
 16  shelter                 26248 non-null  float64
 17  clothing                26248 non-null  float64
 18  money                   26248 non-null  float64
 19  missing_people          26248 non-null  float64
 20  refugees                26248 non-null  float64
 21  death                   26248 non-null  float64
 22  other_aid               26248 non-null  float64
 23  infrastructure_related  26248 non-null  float64
 24  transport               26248 non-null  float64
 25  buildings               26248 non-null  float64
 26  electricity             26248 non-null  float64
 27  tools                   26248 non-null  float64
 28  hospitals               26248 non-null  float64
 29  shops                   26248 non-null  float64
 30  aid_centers             26248 non-null  float64
 31  other_infrastructure    26248 non-null  float64
 32  weather_related         26248 non-null  float64
 33  floods                  26248 non-null  float64
 34  storm                   26248 non-null  float64
 35  fire                    26248 non-null  float64
 36  earthquake              26248 non-null  float64
 37  cold                    26248 non-null  float64
 38  other_weather           26248 non-null  float64
 39  direct_report           26248 non-null  float64
dtypes: float64(36), int64(1), object(3)
memory usage: 8.3+ MB

In [16]:
df.shape

(26386, 40)

In [17]:
# check number of duplicates
df.duplicated().sum()

41

In [18]:
# drop duplicates
df = df.drop_duplicates()

In [19]:
# check number of duplicates
df.duplicated().sum()

0

In [20]:
df.shape

(26345, 40)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26345 entries, 0 to 26385
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      26345 non-null  int64
 1   message                 26345 non-null  object
 2   original                10223 non-null  object
 3   genre                   26345 non-null  object
 4   related                 26207 non-null  float64
 5   request                 26207 non-null  float64
 6   offer                   26207 non-null  float64
 7   aid_related             26207 non-null  float64
 8   medical_help            26207 non-null  float64
 9   medical_products        26207 non-null  float64
 10  search_and_rescue       26207 non-null  float64
 11  security                26207 non-null  float64
 12  military                26207 non-null  float64
 13  child_alone             26207 non-null  float64
 14  water                   26207 non-null  float64
 15  food                    26207 non-null  float64
 16  shelter                 26207 non-null  float64
 17  clothing                26207 non-null  float64
 18  money                   26207 non-null  float64
 19  missing_people          26207 non-null  float64
 20  refugees                26207 non-null  float64
 21  death                   26207 non-null  float64
 22  other_aid               26207 non-null  float64
 23  infrastructure_related  26207 non-null  float64
 24  transport               26207 non-null  float64
 25  buildings               26207 non-null  float64
 26  electricity             26207 non-null  float64
 27  tools                   26207 non-null  float64
 28  hospitals               26207 non-null  float64
 29  shops                   26207 non-null  float64
 30  aid_centers             26207 non-null  float64
 31  other_infrastructure    26207 non-null  float64
 32  weather_related         26207 non-null  float64
 33  floods                  26207 non-null  float64
 34  storm                   26207 non-null  float64
 35  fire                    26207 non-null  float64
 36  earthquake              26207 non-null  float64
 37  cold                    26207 non-null  float64
 38  other_weather           26207 non-null  float64
 39  direct_report           26207 non-null  float64
dtypes: float64(36), int64(1), object(3)
memory usage: 8.2+ MB

In [22]:
# there are still rows with the same 'id', 'message' and 'original' but with different labels

# checking for duplicated 'id'
df_loc = df.loc[:, ['id']]

# adding column for aggregation
df_loc['count'] = 1

# grouping by 'id' and summing 'count'
df_group = df_loc.groupby('id').sum()

# filtering duplicated 'id' that repeats
df_dup = df_group[df_group['count'] > 1]
df_dup

       count
id
202        4
804        4
862        3
1652       2
2446       4
3217       4
3250       4
3882       4
4412       4
4956       4
5153       4
5265       3
5573       4
5643       2
5776       3
6327       2
6393       2
6492       3
6573       3
6687       4
7747       4
7892       3
7945       3
8190       4
9131       2
10286      4
11503      3
12416      4
12420      2
12589      4
13059      2
13914      4
14073      3
14135      2
14246      4
14592      4
15169      4
15576      3
15760      4
15938      4
16245      4
17079      4
17385      4
17553      4
17569      4
17919      3
18313      4
18925      4
19003      4
19142      3
19687      4
21338      3
22059      4
22858      4
23002      4
23229      2
24247      4
24347      4
24779      6
25512      3
27296      4
27768      3
28462      3
28687      4
29022      3
29119      4

In [23]:
# counting duplicates
df_dup.sum() - df_dup.shape[0]

count    165
dtype: int64

In [24]:
# filling duplicated rows that have different labels with maximum value
df = df.groupby('id').transform('max')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26345 entries, 0 to 26385
Data columns (total 39 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   message                 26345 non-null  object
 1   original                10223 non-null  object
 2   genre                   26345 non-null  object
 3   related                 26207 non-null  float64
 4   request                 26207 non-null  float64
 5   offer                   26207 non-null  float64
 6   aid_related             26207 non-null  float64
 7   medical_help            26207 non-null  float64
 8   medical_products        26207 non-null  float64
 9   search_and_rescue       26207 non-null  float64
 10  security                26207 non-null  float64
 11  military                26207 non-null  float64
 12  child_alone             26207 non-null  float64
 13  water                   26207 non-null  float64
 14  food                    26207 non-null  float64
 15  shelter                 26207 non-null  float64
 16  clothing                26207 non-null  float64
 17  money                   26207 non-null  float64
 18  missing_people          26207 non-null  float64
 19  refugees                26207 non-null  float64
 20  death                   26207 non-null  float64
 21  other_aid               26207 non-null  float64
 22  infrastructure_related  26207 non-null  float64
 23  transport               26207 non-null  float64
 24  buildings               26207 non-null  float64
 25  electricity             26207 non-null  float64
 26  tools                   26207 non-null  float64
 27  hospitals               26207 non-null  float64
 28  shops                   26207 non-null  float64
 29  aid_centers             26207 non-null  float64
 30  other_infrastructure    26207 non-null  float64
 31  weather_related         26207 non-null  float64
 32  floods                  26207 non-null  float64
 33  storm                   26207 non-null  float64
 34  fire                    26207 non-null  float64
 35  earthquake              26207 non-null  float64
 36  cold                    26207 non-null  float64
 37  other_weather           26207 non-null  float64
 38  direct_report           26207 non-null  float64
dtypes: float64(36), object(3)
memory usage: 8.0+ MB

In [26]:
df.shape

(26345, 39)

In [27]:
# check number of duplicates
df.duplicated().sum()

165

In [28]:
# drop duplicates
df = df.drop_duplicates()

In [29]:
# check number of duplicates
df.duplicated().sum()

0

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26180 entries, 0 to 26385
Data columns (total 39 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   message                 26180 non-null  object
 1   original                10153 non-null  object
 2   genre                   26180 non-null  object
 3   related                 26042 non-null  float64
 4   request                 26042 non-null  float64
 5   offer                   26042 non-null  float64
 6   aid_related             26042 non-null  float64
 7   medical_help            26042 non-null  float64
 8   medical_products        26042 non-null  float64
 9   search_and_rescue       26042 non-null  float64
 10  security                26042 non-null  float64
 11  military                26042 non-null  float64
 12  child_alone             26042 non-null  float64
 13  water                   26042 non-null  float64
 14  food                    26042 non-null  float64
 15  shelter                 26042 non-null  float64
 16  clothing                26042 non-null  float64
 17  money                   26042 non-null  float64
 18  missing_people          26042 non-null  float64
 19  refugees                26042 non-null  float64
 20  death                   26042 non-null  float64
 21  other_aid               26042 non-null  float64
 22  infrastructure_related  26042 non-null  float64
 23  transport               26042 non-null  float64
 24  buildings               26042 non-null  float64
 25  electricity             26042 non-null  float64
 26  tools                   26042 non-null  float64
 27  hospitals               26042 non-null  float64
 28  shops                   26042 non-null  float64
 29  aid_centers             26042 non-null  float64
 30  other_infrastructure    26042 non-null  float64
 31  weather_related         26042 non-null  float64
 32  floods                  26042 non-null  float64
 33  storm                   26042 non-null  float64
 34  fire                    26042 non-null  float64
 35  earthquake              26042 non-null  float64
 36  cold                    26042 non-null  float64
 37  other_weather           26042 non-null  float64
 38  direct_report           26042 non-null  float64
dtypes: float64(36), object(3)
memory usage: 8.0+ MB

In [31]:
# dropping rows that contain nulls
df = df.dropna(how='all', subset=category_colnames)

# converting to small int to optimize size
df[category_colnames] = df[category_colnames].astype('int8')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26042 entries, 0 to 26247
Data columns (total 39 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   message                 26042 non-null  object
 1   original                10153 non-null  object
 2   genre                   26042 non-null  object
 3   related                 26042 non-null  int8
 4   request                 26042 non-null  int8
 5   offer                   26042 non-null  int8
 6   aid_related             26042 non-null  int8
 7   medical_help            26042 non-null  int8
 8   medical_products        26042 non-null  int8
 9   search_and_rescue       26042 non-null  int8
 10  security                26042 non-null  int8
 11  military                26042 non-null  int8
 12  child_alone             26042 non-null  int8
 13  water                   26042 non-null  int8
 14  food                    26042 non-null  int8
 15  shelter                 26042 non-null  int8
 16  clothing                26042 non-null  int8
 17  money                   26042 non-null  int8
 18  missing_people          26042 non-null  int8
 19  refugees                26042 non-null  int8
 20  death                   26042 non-null  int8
 21  other_aid               26042 non-null  int8
 22  infrastructure_related  26042 non-null  int8
 23  transport               26042 non-null  int8
 24  buildings               26042 non-null  int8
 25  electricity             26042 non-null  int8
 26  tools                   26042 non-null  int8
 27  hospitals               26042 non-null  int8
 28  shops                   26042 non-null  int8
 29  aid_centers             26042 non-null  int8
 30  other_infrastructure    26042 non-null  int8
 31  weather_related         26042 non-null  int8
 32  floods                  26042 non-null  int8
 33  storm                   26042 non-null  int8
 34  fire                    26042 non-null  int8
 35  earthquake              26042 non-null  int8
 36  cold                    26042 non-null  int8
 37  other_weather           26042 non-null  int8
 38  direct_report           26042 non-null  int8
dtypes: int8(36), object(3)
memory usage: 1.7+ MB

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [32]:
engine = create_engine('sqlite:///' + SQLITE_DB)
df.to_sql(SQLITE_TABLE, engine, index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.